<div class="container-fluid" style="background-color: black;">
        <footer class="footer-48201">

          <div class="container container2" style="width: 90%;">
            <div class="row footer-txt">
              <div class="col-md-4 pr-md-5 mb-4">
                <img src="img/Logo_pixelz_titleless.png" class="footer-logo" alt="" style="margin-bottom: 20px;">
                <a href="#" class="footer-site-logo d-block footer-company mb-4">Pixelz Studio</a>
                <p>We do pixel magic to craft design for startups & business</p>
                <p>hello@pixelz.studio</p>
                <p>Krapyak Kulon, Panggungharjo, Sewon Bantul, Daerah istimewa Yogyakarta </p>
              </div>
              <div class="col-md mb-2">
                <ul class="list-unstyled nav-links">
                  <a href="#" class="footer-site-logo d-block footer-link-header mb-4">Contact</a>
                  <li><a href="#">Skype</a></li>
                  <li><a href="#">E-mail</a></li>

                </ul>
              </div>
              <div class="col-md mb-2">
                <ul class="list-unstyled nav-links">
                  <a href="#" class="footer-site-logo d-block footer-link-header mb-4">Product</a>
                  <li><a href="#">Creative Market</a></li>
                  <li><a href="#">UI8</a></li>

                </ul>
              </div>
              <div class="col-md mb-2">
                <ul class="list-unstyled nav-links">
                  <a href="#" class="footer-site-logo footer-link-header d-block mb-4">Social Media</a>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Linkedin</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Dribble</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Behance</a></li>
                </ul>
              </div>
              <div class="col-md mb-2">
                <ul class="list-unstyled nav-links">
                  <a href="#" class="footer-site-logo footer-link-header d-block mb-4">About</a>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Internship</a></li>
                  <li><a href="">FAQ</a></li>
                </ul>
              </div>
            </div>

            <div class="row ">
              <div class="col-12 text-center">
                <div class="copyright mt-5 pt-5">
                  <p><small>&copy; 2019-2020 All Rights Reserved.</small></p>
                </div>
              </div>
            </div>
          </div>

        </footer>
      </div>