<div class="container">
        <div class="home-banner1">
        <h1 class="home-text20">Set mundos dollor sit amet</h1>
        <span class="home-text21">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            volutpat turpis.
          </span>
        </span>
        <button class="button home-button5">Buton</button>
      </div>


</div>