<div class="container container2" id="project">
        <div class="container d-flex justify-content-between align-items-end project-header">
          <div>
            <div class="small-blue-text">
              <p>- Client</p>
            </div>
            <h1 style="font-weight:bold;" class="header-section">Our Project</h1>
          </div>
          <div>
            <a class="btn btn-primary btn-lg px-4 me-sm-3 btn-blue" href="#features">See More Project </a>
          </div>
        </div>
        <div class="row align-items-center main-project" style="">
          <div class="col-12 col-md-6 col-sm-12">
            <div class="container">
              <img src="img/left2.png" class="left-img" alt="Norway" style="width:100%;">
              <div class="text-block">
                <h4 class="small-blue-text" style="font-size: 20px!important;">Go Liquid Project</h4>
                <h2>Dashboard & Landing Page</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-sm-12 mx-auto" style="margin-left: -25px;">
            <div class="row justify-content-between align-items-center g-2" style="margin-bottom: 25px;">
              <img src="img/top-right.png" loading="lazy" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="row justify-content-between align-items-center g-2">
              <img src="img/bottom-right.png" loading="lazy" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
      </div>