<div style="width:100%; margin-left:0!important; background-color: #000;">
  <div class="container container2 dark2">
    <div class="d-flex justify-content-between">
      <div style="margin-top: 4vh!important;">
        <div class="small-blue-text">
          <p>-Testimonial</p>
        </div>
        <h1 style="font-weight:bold;" class="header-section">What They Say About Us</h1>
      </div>
      <div class="justify-content-end">
        <a class="btn btn-primary btn-lg px-4 me-sm-3 btn-blue" href="#features">See More</a>
      </div>
    </div>
    <div class="col-sm-12" style="padding-left: 0!important;">

      <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil earum eius
        iusto
        nulla magni sint animi, dolores laborum quibusdam</p>
    </div>
    <section class="ftco-section">
      <div class="container container4" style="color: white;">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
              {%- for testi in collections.testi -%}
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="img-fluid">
                    <img src="{{ testi.data.image }}" alt="">
                  </div>
                  <div class="comp">
                    <img src="img/quote.svg" alt="">
                  </div>
                  <div class="text">
                    <p class="mb-4 testi-text">{{ testi.data.description }}</p>
                    <div class="d-flex align-items-center">
                      <img src="img/pic.png" alt="" class="user-img">
                      <div class="pl-3">
                        <p class="name">{{ testi.data.name }}</p>
                        <span class="position">{{ testi.data.position }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%- endfor -%}
            </div>
          </div>
          <div>
          </div>
    </section>
  </div>
</div>