<div>
  <link href="./blog-post-card21.css" rel="stylesheet" />
  <div class="blog-post-card21-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=1500"
      class="blog-post-card21-image"
    />
    <div class="blog-post-card21-container">
      <div class="blog-post-card21-container1">
        <span class="blog-post-card21-text"><span>Division</span></span>
      </div>
      <h1 class="blog-post-card21-text1">
        <span>Lorem ipsum dolor sit amet</span>
      </h1>
    </div>
  </div>
</div>
